#btn {width:40px; height:40px; position:fixed; right:25px; bottom:10px; display:none; background:url(images/top_bg.png) no-repeat left top;}
#btn:hover {background:url(images/top_bg.png) no-repeat 0 -39px;}

/*back-to-tp Button*/
.back-to-top {
    position:fixed:
    bottom:3em;
    right:3em;
    text-decoration:none;
    color:#EEEEEE;
    background-color:rgba(0,0,0,0.3);
    font-size:12px;
    padding:1em;
    display:none;
    border-radius:3px;
    border:1 px solid #CCCCCC;

}

.back-to-top:hover {
    background:url(images/top_bg.png);
    background-color:rgba(0,0,0,0.3);
}